<style>
    .bold {
        font-size: 20px;
        color: red;
        cursor: pointer;
    }

    #name {
        padding: 50px;
        color: red;
        border-radius: 50%;
        border-color: blue;
        border-style: groove;
    }

    a {
        display:block;
    }
</style>

<input type="text" name="name" id="name" value="" />
<a href="#">content</a>

<div class="bold">
    Hello from info partial View.
    I don't need a model.
</div>