@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a asp-controller="Customers" asp-action="Index">Customers</a></p>
        <p><a asp-controller="Categories" asp-action="Index">Categories</a></p>
        <p><a asp-controller="Shippers" asp-action="Index">Shippers</a></p>
        <p><a asp-controller="Suppliers" asp-action="Index">Suppliers</a></p>
        
    </div>
   